@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.dropdown:hover .dropdown-content {
   display: block;
   border-radius: 5px;
 }
.sidebar  {
  @apply translate-x-0;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/build/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 89vh;
  margin: 3px auto 0;
  position: relative;
}

.word-spacing {
  letter-spacing: 0.2em;
}

.article h2, .article p{
  line-height: 1.75 !important;
}