@tailwind base;
@tailwind components;
@tailwind utilities;
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
body {
  overflow-x: hidden;
}
.dropdown:hover .dropdown-content {
   display: block;
   border-radius: 5px;
 }

.sidebar.open {
  width: 50%;
}
.sidebar.open ul {
  width: 100%;
  display: block;
}
.sidebar.open ul li{
  transition: all 0.3s ease 0.5s;
}
.sidebar.close {
  width: 0;
}
.sidebar.close ul {
  display: none;
}

.nav-close {
  height: 0px;
  background-color: rgb(104, 103, 103);
  transition: all 0.5s ease;
}
.nav-close > li {
  display: none;
  font-size: 18px;
}
.nav-open {
  @apply p-2;
  background-color: rgb(104, 103, 103);
  height: max-content;
   transition: all 0.5s ease;
}

.nav-open > li {
  @apply p-1;
   display: flex;
   font-size: 18px;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 50vh;
  position: relative;
}


.word-spacing {
  letter-spacing: 0.2em;
}

.article h2, .article p{
  line-height: 1.75 !important;
}
